.combinator_header_hamburger {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.outer_box {
  width: 100%;
  background: var(--headerBgColor);
  border-bottom: 1px solid var(--headerBorderColor);
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;

  transition: top 0.3s ease-in-out;
}

.header-hidden {
  top: calc(var(--header-height) * -1);
}

.outer_box .inner_box {
  height: 100%;
  margin: 0 auto;
  max-width: calc(var(--contentWidth) + 100px);
  font-size: var(--label-3);
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .outer_box .inner_box {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .outer_box .inner_box {
    max-width: 1240px;
    padding: 0;
  }
}

.inner_box .flex_container {
  display: flex;
  align-items: center;
}

.flex_container .hamburger_menu_trigger {
  display: none;
}

.burger_menu_icon {
  display: block;
}

.close_menu_icon {
  display: none;
}

.hamburger_menu_trigger.open .burger_menu_icon {
  display: none;
}

.hamburger_menu_trigger.open .close_menu_icon {
  display: block;
}

.flex_container .header_logo {
  margin: 1.8em 0 1.6em 0;
  height: 1.9em;
}

.header_logo img {
  height: 100%;
}

.flex_container .header_navigator {
  display: none;
}

.header_navigator .header_navigator_item {
  font-weight: 200;
  letter-spacing: -0.05em;
}

.header_navigator_item:hover {
  color: var(--primaryColor);
}

@media screen and (min-width: 1025px) {
  .flex_container .header_navigator {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 2em;
  }

  .hamburger_outer_box {
    display: none;
  }
}

/* Responsive Web Design (769px <= width <= 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .outer_box .inner_box {
    margin: 0 1.5rem;
  }

  .flex_container .hamburger_menu_trigger {
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Responsive Web Design (width <= 768px) */
@media screen and (max-width: 768px) {
  .inner_box .flex_container {
    padding: 0 20px;
  }

  .flex_container .hamburger_menu_trigger {
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex_container .header_logo {
    margin: 1.3em 0 1.1em 0;
    height: 1.8em;
  }
}

.NavigationItem {
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .NavigationItem {
    padding-inline: 10px;
  }
}

.NavigationItem_text {
  color: var(--primaryTextColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavigationItem:hover .NavigationItem_text {
  color: var(--primaryColor);
}

.NavigationItem_text .NavigationItem_text_link {
  display: block;
  width: 100%;
  padding: 20px 20px 20px 0;
}

@media only screen and (min-width: 1024px) {
  .NavigationItem_text .NavigationItem_text_link {
    width: auto;
    height: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .NavigationItem_text .NavigationItem_text_link:hover {
    color: var(--primaryColor);
    text-decoration: none;
  }
}

.NavigationItem_more {
  width: 40px;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .NavigationItem_more {
    width: unset;
    height: 100%;
    margin-left: 5px;
    padding-right: 0;
    cursor: pointer;
    justify-content: unset;
  }
}

.NavigationItem_more button {
  display: block;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  color: currentColor;
}

.NavigationItem_more svg {
  width: 8px;
  height: 8px;
  fill: currentColor;
}

@media only screen and (min-width: 1024px) {
  .NavigationItem_more svg {
    top: 0;
    transform: rotate(0deg);
  }

  .NavigationItem:hover .NavigationItem_more svg {
    top: -8px;
    transform: rotate(180deg);
  }
}

.NavigationItem_items {
  display: none;
  padding: 0;
  text-align: left;
}

@media only screen and (min-width: 1024px) {
  .NavigationItem_items {
    visibility: hidden;
    display: block;
    width: 0;
    position: absolute;
    top: 65px;
    left: -20px;
    padding: 0;
    background-color: #fff;
    list-style: none;
    overflow: hidden;
    word-break: keep-all;
    z-index: 25;
  }

  .NavigationItem_items {
    width: 230px;
    grid-template-columns: 1fr;
  }

  .NavigationItem:hover .NavigationItem_items {
    display: grid;
    visibility: visible;
    width: 300px;
    overflow: initial;
    word-break: normal;
  }
}

.NavigationItem_items_item {}

@media only screen and (min-width: 1024px) {
  .NavigationItem_items .NavigationItem_items_item {
    padding: 20px;
    grid-column: span 1;
    border-right: 1px solid var(--headerBorderColor);
  }
}

.NavigationItem .NavigationLink {
  position: relative;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  color: var(--primaryTextColor);
  font-weight: 400;
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-4);
  font-weight: 700;
  line-height: 100%;
}

.NavigationItem .NavigationGroup>span.NavigationLink {
  margin-bottom: 20px;
  padding: 0;
  color: var(--color-secondary-text);
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-6);
  font-weight: 700;
  line-height: 110%;
}

@media only screen and (min-width: 1024px) {
  .NavigationItem .NavigationGroup>span.NavigationLink {
    color: var(--primaryTextColor);
    position: relative;
  }
}

.NavigationGroup_items {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

@media only screen and (min-width: 1024px) {
  .NavigationItem .NavigationGroup_items {
    display: grid;
    grid-column: span 1;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .NavigationItem_items .NavigationGroup_items {
    gap: 20px;
  }
}


.NavigationItem .NavigationGroup-items-item .NavigationLink {
  min-height: 28px;
  padding: 0;
  display: flex;
  align-items: center;
}

.NavigationItem_items .NavigationLink {
  width: 100%;
  padding: 10px 0;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--primaryTextColor);
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-4);
  font-weight: 400;
  line-height: 100%;
}

@media only screen and (min-width: 1024px) {
  .NavigationItem_items .NavigationGroup_items .NavigationLink {
    padding-block: 0;
  }

  .NavigationItem .NavigationGroup_items_item .NavigationLink {
    padding: 10px 0;
  }

  .NavigationItem_items .NavigationLink {
    position: relative;
    color: var(--primaryTextColor);
  }
}

.NavigationItem .NavigationLink_icon {
  width: 17px;
  height: 17px;
  margin-right: 10px;
  flex-shrink: 0;
}