.top_container {
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #eaeded;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  .top_container {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .top_container {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

@media only screen and (min-width: 1340px) {
  .top_container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--contentWidth);
  }
}

.featured_header_wrapper {
  margin-bottom: 30px;
  max-width: 800px;
}

.featured_header_wrapper .featured_header {
  display: block;
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-2);
  font-weight: 700;
  line-height: 110%;
}

@media only screen and (min-width: 768px) {
  .featured_header_wrapper .featured_header {
    display: contents;
    margin-right: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .featured_header_wrapper .featured_header {
    margin-right: 0;
  }
}

.flickity_cell {
  width: 82.5%;
  min-height: 100%;
  padding-right: 0;
  padding: 0 20px 0 0;
  border-right: none;
  flex-shrink: 0;
}

@media only screen and (min-width: 568px) {
  .flickity_cell {
    width: 42%;
  }
}

@media only screen and (min-width: 1024px) {
  .flickity_cell {
    --item-width: 33.33333333%;
    --item-offset: ((40px * 3 - 40px) / 3);
    margin-right: 40px;
    width: calc(var(--item-width) - var(--item-offset));
  }
}

@media only screen and (min-width: 1340px) {
  .flickity_cell {
    --item-width: 33.33333333%;
    --item-offset: ((40px * 3 - 40px) / 3);
    margin-right: 40px;
    width: calc(var(--item-width) - var(--item-offset));
  }
}
