/* [project]/packages/search-result-module-aside/src/css/search_module_result_aside.module.css [app-client] (css) */
@media only screen and (min-width: 768px) {
  .search_module_result_aside-module__bVZhgq__SearchResultsModule_aside {
    min-width: 35%;
    max-width: 35%;
    padding-right: 50px;
  }

  .search_module_result_aside-module__bVZhgq__SearchResultsModule_filter {
    max-width: 260px;
  }
}

.search_module_result_aside-module__bVZhgq__SearchResultsModule_filter_header_wrapper {
  padding: 22px 0;
}

.search_module_result_aside-module__bVZhgq__SearchResultsModule_filter_title {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-6);
  text-transform: uppercase;
  align-self: center;
  font-weight: 700;
  line-height: 110%;
  display: block;
}

@media only screen and (min-width: 768px) {
  .search_module_result_aside-module__bVZhgq__SearchResultsModule_filters_toggle {
    display: none;
  }
}

.search_module_result_aside-module__bVZhgq__SearchResultsModule_filters_toggle span {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-6);
  text-transform: uppercase;
  align-self: center;
  font-weight: 700;
  line-height: 110%;
}

.search_module_result_aside-module__bVZhgq__SearchResultsModule_applied {
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
  display: flex;
}

.search_module_result_aside-module__bVZhgq__data_mobile_hidden {
  display: none;
}

.search_module_result_aside-module__bVZhgq__SearchResultsModule_applied_heading {
  color: var(--primaryTextColor);
  font-family: var(--primaryHeadlineFont), Arial, Helvetica, sans-serif;
  margin-right: 10px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.43;
}

.search_module_result_aside-module__bVZhgq__SearchResultsModule_applied_reset {
  background: unset;
  color: var(--primaryColor);
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-8);
  border: none;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.search_module_result_aside-module__bVZhgq__SearchResultsModule_applied_list {
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  list-style: none;
  display: flex;
}

.search_module_result_aside-module__bVZhgq__SearchResultsModule_aside_search {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .search_module_result_aside-module__bVZhgq__SearchResultsModule_aside_search.search_module_result_aside-module__bVZhgq__data_mobile_hidden {
    display: block;
  }
}

.search_module_result_aside-module__bVZhgq__SearchResultsModule_aside_search svg {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 11px;
  left: 12px;
}

.search_module_result_aside-module__bVZhgq__SearchResultsModule_aisde_search_input {
  color: #232f3e;
  background-color: #fafafa;
  border: 0;
  border-radius: 20px;
  width: 100%;
  margin: 20px 0 0;
  padding: 10px 40px 10px 35px;
  font-size: 12px;
  line-height: 1.67;
  display: block;
}

.search_module_result_aside-module__bVZhgq__SearchResultsModule_aside_search_clear {
  opacity: .75;
  cursor: pointer;
  padding: 3px 5px;
  display: none;
  position: absolute;
  top: 6px;
  right: 12px;
}

.search_module_result_aside-module__bVZhgq__SearchFilter {
  border-top: 1px solid #aab7b8;
  padding: 30px 0;
}

.search_module_result_aside-module__bVZhgq__SearchFilter_heading {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-6);
  align-items: center;
  font-weight: 700;
  line-height: 110%;
  display: flex;
  position: relative;
}

.search_module_result_aside-module__bVZhgq__SearchFilter .search_module_result_aside-module__bVZhgq__plus_sign {
  cursor: pointer;
  width: 19px;
  height: 19px;
  position: absolute;
  right: 0;
}

.search_module_result_aside-module__bVZhgq__SearchFilter .search_module_result_aside-module__bVZhgq__plus_sign:before {
  width: 100%;
  height: 3px;
}

.search_module_result_aside-module__bVZhgq__SearchFilter .search_module_result_aside-module__bVZhgq__plus_sign:after {
  width: 0;
  height: 0;
}

.search_module_result_aside-module__bVZhgq__SearchFilter .search_module_result_aside-module__bVZhgq__plus_sign:before, .search_module_result_aside-module__bVZhgq__SearchFilter .search_module_result_aside-module__bVZhgq__plus_sign:after {
  content: "";
  background-color: var(--buttonTextColor);
  transition: height .3s ease-in-out;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search_module_result_aside-module__bVZhgq__SearchFilter-content .search_module_result_aside-module__bVZhgq__SearchFilter_items {
  display: block;
}

.search_module_result_aside-module__bVZhgq__SearchFilter_items_item {
  margin-top: 20px;
}

.search_module_result_aside-module__bVZhgq__SearchFilter .search_module_result_aside-module__bVZhgq__SearchFilterInput {
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.search_module_result_aside-module__bVZhgq__CheckboxInput_label {
  align-items: flex-start;
  display: flex;
}

.search_module_result_aside-module__bVZhgq__CheckboxInput input {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #aab7b8;
  border-radius: 2px;
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin-top: 1px;
}

.search_module_result_aside-module__bVZhgq__CheckboxInput input:checked {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FFF' d='M13.8 4.936a.608.608 0 0 0-.175-.448l-.883-.877a.596.596 0 0 0-.437-.185.596.596 0 0 0-.436.185L7.125 9.15 4.93 6.95a.596.596 0 0 0-.436-.185.596.596 0 0 0-.437.185l-.883.877A.608.608 0 0 0 3 8.275c0 .175.058.322.175.438l3.513 3.528a.596.596 0 0 0 .437.185.607.607 0 0 0 .446-.185l6.054-6.867a.596.596 0 0 0 .175-.438z'/%3E%3C/g%3E%3C/svg%3E") 50% no-repeat;
  background-color: var(--secondaryColor);
}

.search_module_result_aside-module__bVZhgq__CheckboxInput input:active, .search_module_result_aside-module__bVZhgq__CheckboxInput input:checked {
  border-color: var(--secondaryColor);
}

.search_module_result_aside-module__bVZhgq__SearchFilterInput .search_module_result_aside-module__bVZhgq__CheckboxInput_label span {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-4);
  margin-left: 10px;
  font-weight: 400;
  line-height: 100%;
}

/*# sourceMappingURL=0juq_search-result-module-aside_src_css_search_module_result_aside_module_css_0w3-wzy._.single.css.map*/