/* [project]/apps/tech-blog/src/css/home.module.css [app-client] (css) */
.home-module__rVDjPW__top_container {
  flex-direction: column;
  display: flex;
}

/* [project]/packages/header-type-a/src/css/header_typeA.module.css [app-client] (css) */
.header_typeA-module__dpvu-q__combinator_header_hamburger {
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
}

.header_typeA-module__dpvu-q__outer_box {
  background: var(--headerBgColor);
  border-bottom: 1px solid var(--headerBorderColor);
  z-index: 100;
  width: 100%;
  transition: top .3s ease-in-out;
  position: sticky;
  top: 0;
  left: 0;
}

.header_typeA-module__dpvu-q__header-hidden {
  top: calc(var(--header-height) * -1);
}

.header_typeA-module__dpvu-q__outer_box .header_typeA-module__dpvu-q__inner_box {
  height: 100%;
  max-width: calc(var(--contentWidth) + 100px);
  font-size: var(--label-3);
  margin: 0 auto;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .header_typeA-module__dpvu-q__outer_box .header_typeA-module__dpvu-q__inner_box {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .header_typeA-module__dpvu-q__outer_box .header_typeA-module__dpvu-q__inner_box {
    max-width: 1240px;
    padding: 0;
  }
}

.header_typeA-module__dpvu-q__inner_box .header_typeA-module__dpvu-q__flex_container {
  align-items: center;
  display: flex;
}

.header_typeA-module__dpvu-q__flex_container .header_typeA-module__dpvu-q__hamburger_menu_trigger {
  display: none;
}

.header_typeA-module__dpvu-q__burger_menu_icon {
  display: block;
}

.header_typeA-module__dpvu-q__close_menu_icon, .header_typeA-module__dpvu-q__hamburger_menu_trigger.header_typeA-module__dpvu-q__open .header_typeA-module__dpvu-q__burger_menu_icon {
  display: none;
}

.header_typeA-module__dpvu-q__hamburger_menu_trigger.header_typeA-module__dpvu-q__open .header_typeA-module__dpvu-q__close_menu_icon {
  display: block;
}

.header_typeA-module__dpvu-q__flex_container .header_typeA-module__dpvu-q__header_logo {
  height: 1.9em;
  margin: 1.8em 0 1.6em;
}

.header_typeA-module__dpvu-q__header_logo img {
  height: 100%;
}

.header_typeA-module__dpvu-q__flex_container .header_typeA-module__dpvu-q__header_navigator {
  display: none;
}

.header_typeA-module__dpvu-q__header_navigator .header_typeA-module__dpvu-q__header_navigator_item {
  letter-spacing: -.05em;
  font-weight: 200;
}

.header_typeA-module__dpvu-q__header_navigator_item:hover {
  color: var(--primaryColor);
}

@media screen and (min-width: 1025px) {
  .header_typeA-module__dpvu-q__flex_container .header_typeA-module__dpvu-q__header_navigator {
    flex: 1;
    justify-content: flex-end;
    gap: 2em;
    display: flex;
  }

  .header_typeA-module__dpvu-q__hamburger_outer_box {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header_typeA-module__dpvu-q__outer_box .header_typeA-module__dpvu-q__inner_box {
    margin: 0 1.5rem;
  }

  .header_typeA-module__dpvu-q__flex_container .header_typeA-module__dpvu-q__hamburger_menu_trigger {
    cursor: pointer;
    background: none;
    border: 0;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 0;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .header_typeA-module__dpvu-q__inner_box .header_typeA-module__dpvu-q__flex_container {
    padding: 0 20px;
  }

  .header_typeA-module__dpvu-q__flex_container .header_typeA-module__dpvu-q__hamburger_menu_trigger {
    cursor: pointer;
    background: none;
    border: 0;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 0;
    display: flex;
  }

  .header_typeA-module__dpvu-q__flex_container .header_typeA-module__dpvu-q__header_logo {
    height: 1.8em;
    margin: 1.3em 0 1.1em;
  }
}

.header_typeA-module__dpvu-q__NavigationItem {
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .header_typeA-module__dpvu-q__NavigationItem {
    padding-inline: 10px;
  }
}

.header_typeA-module__dpvu-q__NavigationItem_text {
  color: var(--primaryTextColor);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header_typeA-module__dpvu-q__NavigationItem:hover .header_typeA-module__dpvu-q__NavigationItem_text {
  color: var(--primaryColor);
}

.header_typeA-module__dpvu-q__NavigationItem_text .header_typeA-module__dpvu-q__NavigationItem_text_link {
  width: 100%;
  padding: 20px 20px 20px 0;
  display: block;
}

@media only screen and (min-width: 1024px) {
  .header_typeA-module__dpvu-q__NavigationItem_text .header_typeA-module__dpvu-q__NavigationItem_text_link {
    white-space: nowrap;
    align-items: center;
    width: auto;
    height: 70px;
    padding: 0;
    display: flex;
  }

  .header_typeA-module__dpvu-q__NavigationItem_text .header_typeA-module__dpvu-q__NavigationItem_text_link:hover {
    color: var(--primaryColor);
    text-decoration: none;
  }
}

.header_typeA-module__dpvu-q__NavigationItem_more {
  cursor: pointer;
  justify-content: flex-end;
  align-items: center;
  width: 40px;
  height: 48px;
  display: flex;
}

@media only screen and (min-width: 1024px) {
  .header_typeA-module__dpvu-q__NavigationItem_more {
    width: unset;
    cursor: pointer;
    justify-content: unset;
    height: 100%;
    margin-left: 5px;
    padding-right: 0;
  }
}

.header_typeA-module__dpvu-q__NavigationItem_more button {
  cursor: pointer;
  color: currentColor;
  background: none;
  border: 0;
  padding: 0;
  display: block;
}

.header_typeA-module__dpvu-q__NavigationItem_more svg {
  fill: currentColor;
  width: 8px;
  height: 8px;
}

@media only screen and (min-width: 1024px) {
  .header_typeA-module__dpvu-q__NavigationItem_more svg {
    top: 0;
    transform: rotate(0);
  }

  .header_typeA-module__dpvu-q__NavigationItem:hover .header_typeA-module__dpvu-q__NavigationItem_more svg {
    top: -8px;
    transform: rotate(180deg);
  }
}

.header_typeA-module__dpvu-q__NavigationItem_items {
  text-align: left;
  padding: 0;
  display: none;
}

@media only screen and (min-width: 1024px) {
  .header_typeA-module__dpvu-q__NavigationItem_items {
    visibility: hidden;
    word-break: keep-all;
    z-index: 25;
    background-color: #fff;
    grid-template-columns: 1fr;
    width: 230px;
    padding: 0;
    list-style: none;
    display: block;
    position: absolute;
    top: 65px;
    left: -20px;
    overflow: hidden;
  }

  .header_typeA-module__dpvu-q__NavigationItem:hover .header_typeA-module__dpvu-q__NavigationItem_items {
    visibility: visible;
    width: 300px;
    overflow: initial;
    word-break: normal;
    display: grid;
  }

  .header_typeA-module__dpvu-q__NavigationItem_items .header_typeA-module__dpvu-q__NavigationItem_items_item {
    border-right: 1px solid var(--headerBorderColor);
    grid-column: span 1;
    padding: 20px;
  }
}

.header_typeA-module__dpvu-q__NavigationItem .header_typeA-module__dpvu-q__NavigationLink {
  width: 100%;
  color: var(--primaryTextColor);
  font-weight: 400;
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-4);
  align-items: center;
  padding: 10px 0;
  font-weight: 700;
  line-height: 100%;
  display: flex;
  position: relative;
}

.header_typeA-module__dpvu-q__NavigationItem .header_typeA-module__dpvu-q__NavigationGroup > span.header_typeA-module__dpvu-q__NavigationLink {
  color: var(--color-secondary-text);
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-6);
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  line-height: 110%;
}

@media only screen and (min-width: 1024px) {
  .header_typeA-module__dpvu-q__NavigationItem .header_typeA-module__dpvu-q__NavigationGroup > span.header_typeA-module__dpvu-q__NavigationLink {
    color: var(--primaryTextColor);
    position: relative;
  }
}

.header_typeA-module__dpvu-q__NavigationGroup_items {
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

@media only screen and (min-width: 1024px) {
  .header_typeA-module__dpvu-q__NavigationItem .header_typeA-module__dpvu-q__NavigationGroup_items {
    grid-column: span 1;
    grid-template-columns: 1fr;
    gap: 20px;
    display: grid;
  }

  .header_typeA-module__dpvu-q__NavigationItem_items .header_typeA-module__dpvu-q__NavigationGroup_items {
    gap: 20px;
  }
}

.header_typeA-module__dpvu-q__NavigationItem .header_typeA-module__dpvu-q__NavigationGroup-items-item .header_typeA-module__dpvu-q__NavigationLink {
  align-items: center;
  min-height: 28px;
  padding: 0;
  display: flex;
}

.header_typeA-module__dpvu-q__NavigationItem_items .header_typeA-module__dpvu-q__NavigationLink {
  width: 100%;
  color: var(--primaryTextColor);
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-4);
  align-items: center;
  padding: 10px 0;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .header_typeA-module__dpvu-q__NavigationItem_items .header_typeA-module__dpvu-q__NavigationGroup_items .header_typeA-module__dpvu-q__NavigationLink {
    padding-block: 0;
  }

  .header_typeA-module__dpvu-q__NavigationItem .header_typeA-module__dpvu-q__NavigationGroup_items_item .header_typeA-module__dpvu-q__NavigationLink {
    padding: 10px 0;
  }

  .header_typeA-module__dpvu-q__NavigationItem_items .header_typeA-module__dpvu-q__NavigationLink {
    color: var(--primaryTextColor);
    position: relative;
  }
}

.header_typeA-module__dpvu-q__NavigationItem .header_typeA-module__dpvu-q__NavigationLink_icon {
  flex-shrink: 0;
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

/* [project]/packages/header-type-a/src/css/hamburger.module.css [app-client] (css) */
.hamburger-module___FdKmG__hamburger_outer_box {
  background: var(--headerMenuBgColor);
  border-top: 1px solid var(--headerBorderColor);
  z-index: 90;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  transition: left .1s ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
}

.hamburger-module___FdKmG__Page_header_hamburger_menu {
  background: var(--headerMenuBgColor);
  border-top: 1px solid var(--headerBorderColor);
  z-index: 90;
  width: 360px;
  max-width: 100%;
  height: 100vh;
  transition: left .1s ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
}

.hamburger-module___FdKmG__hamburger_hidden {
  left: calc(var(--hamburger-width) * -1);
}

.hamburger-module___FdKmG__hamburger_outer_box .hamburger-module___FdKmG__hamburger_navigatior {
  flex-direction: column;
  width: 100%;
  display: flex;
}

.hamburger-module___FdKmG__hamburger_navigatior_item {
  border-bottom: 1px solid var(--headerBorderColor);
  margin: 0 1em;
}

.hamburger-module___FdKmG__hamburger_navigatior_item:hover {
  color: var(--primaryColor);
}

.hamburger-module___FdKmG__hamburger_navigatior_item .hamburger-module___FdKmG__hamburger_navigator_text {
  font-size: var(--label-3);
  margin: 1.2em 0;
  font-weight: 400;
}

@media screen and (min-width: 1025px) {
  .hamburger-module___FdKmG__hamburger_outer_box {
    display: none;
  }
}

.hamburger-module___FdKmG__Page_header_hamburger_menu_content {
  padding: 0 0 90px;
}

.hamburger-module___FdKmG__Navigation {
  width: 100%;
  height: 100%;
  display: block;
}

.hamburger-module___FdKmG__Navigation_items {
  width: 100%;
}

.hamburger-module___FdKmG__Navigation_items_item {
  border-bottom: 1px solid var(--headerBorderColor);
  margin: 0 20px;
}

.hamburger-module___FdKmG__NavigationItem {
  position: relative;
}

@media only screen and (max-width: 1023px) {
  .hamburger-module___FdKmG__NavigationItem {
    position: static;
  }
}

.hamburger-module___FdKmG__NavigationItem_text {
  color: var(--primaryTextColor);
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-3);
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  line-height: 100%;
  display: flex;
}

.hamburger-module___FdKmG__NavigationItem_text a {
  width: 100%;
  padding: 20px 20px 20px 0;
  display: block;
}

.hamburger-module___FdKmG__NavigationItem_more {
  cursor: pointer;
  justify-content: flex-end;
  align-items: center;
  width: 40px;
  height: 48px;
  display: flex;
}

.hamburger-module___FdKmG__NavigationItem_more button {
  cursor: pointer;
  color: currentColor;
  background: none;
  border: 0;
  padding: 0;
  display: block;
}

.hamburger-module___FdKmG__NavigationItem_more svg {
  fill: currentColor;
  width: 8px;
  height: 8px;
}

.hamburger-module___FdKmG__NavigationItem_items {
  text-align: left;
  padding: 0;
  display: none;
}

@media only screen and (max-width: 1023px) {
  .hamburger-module___FdKmG__NavigationItem_items {
    background: var(--headerBgColor);
    visibility: hidden;
    width: 100%;
    height: 100%;
    transition: transform .25s;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    transform: translateX(-100%);
  }
}

.hamburger-module___FdKmG__submenuOpened .hamburger-module___FdKmG__NavigationItem_items {
  display: block;
}

@media only screen and (max-width: 1023px) {
  .hamburger-module___FdKmG__submenuOpened .hamburger-module___FdKmG__NavigationItem_items {
    visibility: visible;
    transform: translateX(0);
  }

  .hamburger-module___FdKmG__NavigationItem_items_item {
    border-top: 1px solid #eaeded;
  }

  .hamburger-module___FdKmG__NavigationItem_items_item:not([data-back-link]) {
    padding: 20px;
  }
}

.hamburger-module___FdKmG__NavigationItem_items .hamburger-module___FdKmG__NavigationBackLink {
  cursor: pointer;
  width: 100%;
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-3);
  background: none;
  border: none;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 20px;
  font-weight: 400;
  line-height: 100%;
  display: flex;
}

.hamburger-module___FdKmG__NavigationItem_items .hamburger-module___FdKmG__NavigationBackLink:hover {
  color: var(--primaryColor);
  text-decoration: none;
}

.hamburger-module___FdKmG__NavigationItem_items .hamburger-module___FdKmG__NavigationBackLink svg {
  width: 10px;
  height: 18px;
}

.hamburger-module___FdKmG__NavigationItem .hamburger-module___FdKmG__NavigationGroup > span.hamburger-module___FdKmG__NavigationLink {
  color: var(--color-secondary-text);
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-6);
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  line-height: 110%;
}

.hamburger-module___FdKmG__NavigationItem .hamburger-module___FdKmG__NavigationLink {
  width: 100%;
  color: var(--primaryTextColor);
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-4);
  align-items: center;
  padding: 10px 0;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  position: relative;
}

.hamburger-module___FdKmG__NavigationItem .hamburger-module___FdKmG__NavigationGroup_items {
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.hamburger-module___FdKmG__NavigationItem .hamburger-module___FdKmG__NavigationGroup_items_item .hamburger-module___FdKmG__NavigationLink {
  align-items: center;
  min-height: 28px;
  padding: 0;
  display: flex;
}

.hamburger-module___FdKmG__NavigationItem .hamburger-module___FdKmG__NavigationLink_icon {
  flex-shrink: 0;
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.hamburger-module___FdKmG__Page_header_socialBar {
  margin: 20px 20px 0;
}

.hamburger-module___FdKmG__Page_header_hamburger_menu .hamburger-module___FdKmG__SocialBar {
  margin-top: 20px;
}

.hamburger-module___FdKmG__SocialBar_heading {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-4);
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 100%;
  display: none;
}

.hamburger-module___FdKmG__Page_header_hamburger_menu .hamburger-module___FdKmG__SocialBar_items {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
}

.hamburger-module___FdKmG__SocialBar_items {
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  display: flex;
}

@media only screen and (min-width: 375px) {
  .hamburger-module___FdKmG__SocialBar_items {
    flex-wrap: unset;
  }
}

.hamburger-module___FdKmG__SocialBar_items_item {
  flex-shrink: 0;
  margin: 0 10px 10px 0;
}

.hamburger-module___FdKmG__Page_header_hamburger_menu .hamburger-module___FdKmG__SocialBar_items_item {
  margin: 0;
}

.hamburger-module___FdKmG__SocialLink {
  background: var(--primaryColor);
  color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
}

.hamburger-module___FdKmG__Page_header_hamburger_menu .hamburger-module___FdKmG__SocialBar_items_item .hamburger-module___FdKmG__SocialLink {
  width: 24px;
  height: 24px;
  color: var(--primaryColor);
  background: none;
  border-radius: 0;
}

.hamburger-module___FdKmG__SocialLink svg {
  fill: #fff;
  width: 18px;
  height: 18px;
}

.hamburger-module___FdKmG__Page_header_hamburger_menu .hamburger-module___FdKmG__SocialBar_items_item .hamburger-module___FdKmG__SocialLink svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
  padding: 2px;
}

.hamburger-module___FdKmG__sr_only {
  clip: rect(0, 0, 0, 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

/* [project]/packages/hero-slide/src/css/heroslide_typeA.module.css [app-client] (css) */
.heroslide_typeA-module__60Hyyq__hero_container {
  --primaryTextColor: #fff;
  color: var(--primaryTextColor);
  aspect-ratio: 16 / 9;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .heroslide_typeA-module__60Hyyq__hero_container {
    aspect-ratio: auto;
    height: 100dvh;
  }
}

@media screen and (max-width: 576px) {
  .heroslide_typeA-module__60Hyyq__hero_container {
    aspect-ratio: 9 / 16;
    height: auto;
  }
}

.heroslide_typeA-module__60Hyyq__hero_layer1 {
  z-index: 0;
  background-image: linear-gradient(to top right, #41597a, #8951a9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.heroslide_typeA-module__60Hyyq__hero_layer1 .heroslide_typeA-module__60Hyyq__bg_image {
  border-radius: 2rem;
  width: 50em;
  position: absolute;
  top: 6rem;
  right: 6rem;
}

.heroslide_typeA-module__60Hyyq__hero_layer2 {
  z-index: 10;
  background-color: #0000001a;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.heroslide_typeA-module__60Hyyq__hero_layer2_content_wrapper {
  max-width: calc(var(--contentWidth) + 100px);
  margin-inline: 50px;
}

@media only screen and (min-width: 1340px) {
  .heroslide_typeA-module__60Hyyq__hero_layer2_content_wrapper {
    width: 100%;
    max-width: var(--contentWidth);
    margin-left: auto;
    margin-right: auto;
  }
}

.heroslide_typeA-module__60Hyyq__hero_layer2 .heroslide_typeA-module__60Hyyq__description_area {
  justify-content: flex-start;
  width: 100%;
  display: flex;
}

.heroslide_typeA-module__60Hyyq__description_area .heroslide_typeA-module__60Hyyq__description_content_area {
  max-width: 700px;
  margin-bottom: 4em;
}

.heroslide_typeA-module__60Hyyq__description_content_area .heroslide_typeA-module__60Hyyq__description_content {
  flex-direction: column;
  gap: 1em;
  display: flex;
}

.heroslide_typeA-module__60Hyyq__description_content .heroslide_typeA-module__60Hyyq__title {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-1);
  font-weight: 700;
  line-height: 110%;
}

.heroslide_typeA-module__60Hyyq__description_content .heroslide_typeA-module__60Hyyq__details {
  font-family: var(--bodyFont), Arial, Helvetica, sans-serif;
  font-size: var(--description-1);
  font-weight: 400;
  line-height: 140%;
}

.heroslide_typeA-module__60Hyyq__description_content .heroslide_typeA-module__60Hyyq__readmore {
  background: var(--buttonTextColor);
  border: 1px solid var(--buttonTextColor);
  color: #fff;
  cursor: pointer;
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--button-1);
  text-align: center;
  white-space: nowrap;
  border-radius: 0;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 110%;
}

.heroslide_typeA-module__60Hyyq__hero_layer2 .heroslide_typeA-module__60Hyyq__navigation_area {
  width: 100%;
  margin-bottom: 3em;
}

.heroslide_typeA-module__60Hyyq__navigation_area .heroslide_typeA-module__60Hyyq__navigation_flex_box {
  gap: 10px;
  display: flex;
}

.heroslide_typeA-module__60Hyyq__navigation_flex_box .heroslide_typeA-module__60Hyyq__navigation_item_box {
  flex: 1;
  min-width: 0;
}

.heroslide_typeA-module__60Hyyq__navigation_slider {
  background-color: #f2f2f280;
  width: 100%;
  height: 5px;
  position: relative;
  overflow: hidden;
}

.heroslide_typeA-module__60Hyyq__progress_bar {
  background-color: #fff;
  width: 0%;
  height: 100%;
}

.heroslide_typeA-module__60Hyyq__navigation_title {
  margin-top: 10px;
  font-size: 1.4rem;
  line-height: 1.2;
}

@media screen and (max-width: 1023px) {
  .heroslide_typeA-module__60Hyyq__navigation_title {
    display: none;
  }
}

.heroslide_typeA-module__60Hyyq__play_pause {
  color: #fff;
  cursor: pointer;
  background: #0006;
  border: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 30px;
  display: grid;
}

.heroslide_typeA-module__60Hyyq__play_pause svg {
  fill: currentColor;
  grid-area: 1 / 1;
  width: 16px;
  height: 16px;
}

/* [project]/packages/research-area/src/css/section_typeA.module.css [app-client] (css) */
.section_typeA-module__T6kVka__top_container {
  margin-inline: 50px;
  padding-block: 40px;
}

@media only screen and (min-width: 1340px) {
  .section_typeA-module__T6kVka__top_container {
    max-width: var(--contentWidth);
    min-width: var(--contentWidth);
    margin-left: auto;
    margin-right: auto;
  }
}

.section_typeA-module__T6kVka__ResearchArea_header_wrapper {
  margin-bottom: 30px;
}

.section_typeA-module__T6kVka__ResearchArea_header_wrapper .section_typeA-module__T6kVka__ResearchArea_header {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-2);
  font-weight: 700;
  line-height: 110%;
}

.section_typeA-module__T6kVka__flickity_group {
  flex-direction: column;
  flex-shrink: 0;
  gap: 10px;
  width: 82.5%;
  margin-right: 10px;
  display: flex;
}

@media only screen and (min-width: 1340px) {
  .section_typeA-module__T6kVka__flickity_group {
    --item-width: 25%;
    --item-offset: ((20px / 2 * 4 - 20px / 2) / 4);
    margin-right: 20px/2;
    width: calc(var(--item-width) - var(--item-offset));
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1339px) {
  .section_typeA-module__T6kVka__flickity_group {
    --item-width: 33.3333%;
    --item-offset: ((20px / 2 * 3 - 20px / 2) / 3);
    margin-right: 20px/2;
    width: calc(var(--item-width) - var(--item-offset));
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section_typeA-module__T6kVka__flickity_group {
    --item-width: 50%;
    --item-offset: ((20px / 2 * 2 - 20px / 2) / 2);
    margin-right: 20px/2;
    width: calc(var(--item-width) - var(--item-offset));
  }
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
  .section_typeA-module__T6kVka__flickity_group {
    --item-width: 50%;
    --item-offset: ((20px / 2 * 2 - 20px / 2) / 2);
    margin-right: 20px/2;
    width: calc(var(--item-width) - var(--item-offset));
  }
}

.section_typeA-module__T6kVka__ResearchAreaCard {
  background: #fafafa;
}

.section_typeA-module__T6kVka__ResearchAreaCard .section_typeA-module__T6kVka__ResearchAreaCard_link {
  color: #232f3e;
  align-items: center;
  gap: 15px;
  padding: 15px 20px;
  display: flex;
}

.section_typeA-module__T6kVka__ResearchAreaCard .section_typeA-module__T6kVka__ResearchAreaCard_media {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
}

.section_typeA-module__T6kVka__ResearchAreaCard_media picture {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.section_typeA-module__T6kVka__ResearchAreaCard_content .section_typeA-module__T6kVka__ResearchAreaCard_title {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 110%;
  font-size: var(--title-7);
}

/* [project]/packages/custom-carousel/src/css/customCarousel.module.css [app-client] (css) */
.customCarousel-module__mK8U3q__carousel_slider {
  margin-right: -20px;
  padding-bottom: 40px;
  position: relative;
}

.customCarousel-module__mK8U3q__carousel_slider .customCarousel-module__mK8U3q__flickity_viewport {
  cursor: grab;
  touch-action: pan-y;
  position: relative;
  overflow: hidden;
}

.customCarousel-module__mK8U3q__flickity_viewport .customCarousel-module__mK8U3q__flickity_slider {
  width: 100%;
  height: 100%;
  display: flex;
}

.customCarousel-module__mK8U3q__flickity_button {
  color: #333;
  border: none;
  position: absolute;
}

.customCarousel-module__mK8U3q__flickity_button:hover {
  cursor: pointer;
}

.customCarousel-module__mK8U3q__flickity_button:disabled {
  cursor: auto;
  pointer-events: none;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button {
  opacity: .5;
  z-index: 1;
  background: #fff;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 100px;
  line-height: 0;
  transition: opacity .3s ease-out;
  top: 50%;
  transform: translateY(calc(-50% - 20px));
  box-shadow: -1px 0 4px #0000001a;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button:hover {
  opacity: 1;
  background: #fff;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button:disabled {
  visibility: hidden;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button.customCarousel-module__mK8U3q__previous {
  border-radius: 0 4px 4px 0;
  left: 0;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button.customCarousel-module__mK8U3q__next {
  border-radius: 4px 0 0 4px;
  right: 0;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button .customCarousel-module__mK8U3q__flickity_button_icon {
  fill: #555;
  stroke: #555;
  width: 20px;
  height: 20px;
  position: relative;
  top: auto;
  overflow: visible;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button.customCarousel-module__mK8U3q__previous .customCarousel-module__mK8U3q__flickity_button_icon {
  top: auto;
  left: -2px;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button.customCarousel-module__mK8U3q__next .customCarousel-module__mK8U3q__flickity_button_icon {
  left: -2px;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button.customCarousel-module__mK8U3q__previous .customCarousel-module__mK8U3q__flickity_button_icon path {
  transform: rotate(180deg)scale(6)translate(-12px, -15px);
}

.customCarousel-module__mK8U3q__flickity_prev_next_button.customCarousel-module__mK8U3q__next .customCarousel-module__mK8U3q__flickity_button_icon path {
  transform: scale(6)translate(5px, 1px);
}

.customCarousel-module__mK8U3q__flickity_page_dots {
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 767px) {
  .customCarousel-module__mK8U3q__flickity_page_dots {
    justify-content: flex-start;
  }
}

.customCarousel-module__mK8U3q__flickity_page_dots .customCarousel-module__mK8U3q__flickity_page_dot {
  box-shadow: none;
  opacity: 1;
  cursor: pointer;
  margin-inline: 5px;
  text-indent: -9999px;
  background: #fff;
  border: 1px solid #555;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  padding: 0;
  display: block;
  overflow: hidden;
}

.customCarousel-module__mK8U3q__flickity_page_dots .customCarousel-module__mK8U3q__flickity_page_dot.customCarousel-module__mK8U3q__is_selected {
  background: #555;
}

/* [project]/packages/from-the-blog/src/css/fromtheblog.module.css [app-client] (css) */
.fromtheblog-module__KRUkAG__top_container {
  margin-bottom: 50px;
}

@media only screen and (min-width: 1024px) {
  .fromtheblog-module__KRUkAG__top_container {
    margin-bottom: 100px;
  }
}

.fromtheblog-module__KRUkAG__fromtheblog_heading {
  color: #fff;
  background: #1c2732;
  position: relative;
  overflow: hidden;
}

.fromtheblog-module__KRUkAG__fromtheblog_heading .fromtheblog-module__KRUkAG__fromtheblog_heading_body {
  align-items: center;
  min-height: 285px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .fromtheblog-module__KRUkAG__fromtheblog_heading .fromtheblog-module__KRUkAG__fromtheblog_heading_body {
    align-items: flex-end;
    min-height: 380px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1340px) {
  .fromtheblog-module__KRUkAG__fromtheblog_heading .fromtheblog-module__KRUkAG__fromtheblog_heading_body {
    max-width: var(--contentWidth);
    margin-left: auto;
    margin-right: auto;
    padding-right: 440px;
  }
}

.fromtheblog-module__KRUkAG__fromtheblog_heading_body .fromtheblog-module__KRUkAG__fromtheblog_heading_background_image {
  z-index: 0;
  width: 232px;
  height: 201px;
  position: absolute;
  top: -54px;
  right: -80px;
}

@media only screen and (min-width: 768px) {
  .fromtheblog-module__KRUkAG__fromtheblog_heading_body .fromtheblog-module__KRUkAG__fromtheblog_heading_background_image {
    height: 392px;
    bottom: -1px;
    right: -200px;
    top: unset;
    width: 453px;
  }
}

@media only screen and (min-width: 1024px) {
  .fromtheblog-module__KRUkAG__fromtheblog_heading_body .fromtheblog-module__KRUkAG__fromtheblog_heading_background_image {
    width: 509px;
    height: 415px;
  }
}

@media only screen and (min-width: 1340px) {
  .fromtheblog-module__KRUkAG__fromtheblog_heading_body .fromtheblog-module__KRUkAG__fromtheblog_heading_background_image {
    width: 509px;
    height: 440px;
  }
}

@media only screen and (min-width: 1400px) {
  .fromtheblog-module__KRUkAG__fromtheblog_heading_body .fromtheblog-module__KRUkAG__fromtheblog_heading_background_image {
    right: -215px;
  }
}

@media only screen and (min-width: 1440px) {
  .fromtheblog-module__KRUkAG__fromtheblog_heading_body .fromtheblog-module__KRUkAG__fromtheblog_heading_background_image {
    right: -230px;
  }
}

.fromtheblog-module__KRUkAG__fromtheblog_heading_body .fromtheblog-module__KRUkAG__fromtheblog_heading_text {
  color: #fff;
  padding-block: 100px;
}

@media only screen and (min-width: 768px) {
  .fromtheblog-module__KRUkAG__fromtheblog_heading_body .fromtheblog-module__KRUkAG__fromtheblog_heading_text {
    padding-block: 50px 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .fromtheblog-module__KRUkAG__fromtheblog_heading_body .fromtheblog-module__KRUkAG__fromtheblog_heading_text {
    padding-top: 150px;
  }
}

.fromtheblog-module__KRUkAG__fromtheblog_heading_text .fromtheblog-module__KRUkAG__fromtheblog_header_wrapper {
  max-width: 800px;
  padding-bottom: 0;
}

.fromtheblog-module__KRUkAG__fromtheblog_heading_text .fromtheblog-module__KRUkAG__fromtheblog_header {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  margin-right: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 110%;
  display: block;
}

@media only screen and (min-width: 768px) {
  .fromtheblog-module__KRUkAG__fromtheblog_heading_text .fromtheblog-module__KRUkAG__fromtheblog_header {
    display: contents;
  }
}

@media only screen and (min-width: 1024px) {
  .fromtheblog-module__KRUkAG__fromtheblog_heading_text .fromtheblog-module__KRUkAG__fromtheblog_header {
    font-size: 4.4rem;
  }
}

.fromtheblog-module__KRUkAG__fromtheblog_header_button {
  --buttonTextColor: #fff;
  -webkit-appearance: none;
  appearance: none;
  background: var(--buttonBgColor);
  border: 1px solid var(--buttonTextColor);
  color: var(--buttonTextColor);
  cursor: pointer;
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--button-1);
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  border-radius: 0;
  margin-top: 0;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 110%;
  display: none;
}

@media only screen and (min-width: 768px) {
  .fromtheblog-module__KRUkAG__fromtheblog_header_button {
    margin-left: 30px;
    display: inline-block;
  }
}

@media only screen and (min-width: 1024px) {
  .fromtheblog-module__KRUkAG__fromtheblog_header_button {
    margin-top: 8px;
  }
}

.fromtheblog-module__KRUkAG__fromtheblog_heading_text .fromtheblog-module__KRUkAG__fromtheblog_header_description {
  font-family: var(--bodyFont), Arial, Helvetica, sans-serif;
  font-size: var(--description-1);
  margin-top: 20px;
  font-weight: 400;
  line-height: 140%;
}

.fromtheblog-module__KRUkAG__fromtheblog_items_wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (min-width: 768px) {
  .fromtheblog-module__KRUkAG__fromtheblog_items_wrapper {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1340px) {
  .fromtheblog-module__KRUkAG__fromtheblog_items_wrapper {
    max-width: var(--contentWidth);
    margin-left: auto;
    margin-right: auto;
  }
}

.fromtheblog-module__KRUkAG__fromtheblog_items_wrapper .fromtheblog-module__KRUkAG__fromtheblog_items {
  margin-top: -70px;
  padding: 0;
  list-style: none;
}

@media only screen and (min-width: 768px) {
  .fromtheblog-module__KRUkAG__fromtheblog_items_wrapper .fromtheblog-module__KRUkAG__fromtheblog_items {
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
  }
}

@media only screen and (min-width: 1024px) {
  .fromtheblog-module__KRUkAG__fromtheblog_items_wrapper .fromtheblog-module__KRUkAG__fromtheblog_items {
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1340px) {
  .fromtheblog-module__KRUkAG__fromtheblog_items_wrapper .fromtheblog-module__KRUkAG__fromtheblog_items {
    grid-row-gap: 20px;
  }
}

.fromtheblog-module__KRUkAG__fromtheblog_items .fromtheblog-module__KRUkAG__fromtheblog_items_item {
  z-index: 1;
  margin: 0;
  padding: 30px 0 0;
}

.fromtheblog-module__KRUkAG__fromtheblog_items .fromtheblog-module__KRUkAG__fromtheblog_items_item:not(:first-of-type) {
  padding-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .fromtheblog-module__KRUkAG__fromtheblog_items .fromtheblog-module__KRUkAG__fromtheblog_items_item {
    border-bottom: 1px solid #aab7b8;
    padding-block: 0 20px;
  }

  .fromtheblog-module__KRUkAG__fromtheblog_items .fromtheblog-module__KRUkAG__fromtheblog_items_item:not(:first-of-type) {
    padding-block: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .fromtheblog-module__KRUkAG__fromtheblog_items .fromtheblog-module__KRUkAG__fromtheblog_items_item {
    padding: 0;
  }

  .fromtheblog-module__KRUkAG__fromtheblog_items .fromtheblog-module__KRUkAG__fromtheblog_items_item:first-of-type {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 1024px) {
  .fromtheblog-module__KRUkAG__fromtheblog_items .fromtheblog-module__KRUkAG__fromtheblog_items_item:first-of-type {
    grid-area: span 2 / span 2;
  }
}

@media only screen and (max-width: 767px) {
  .fromtheblog-module__KRUkAG__fromtheblog_items_item:not(:first-of-type) .fromtheblog-module__KRUkAG__blogMediaOverride {
    float: right;
    width: 120px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.fromtheblog-module__KRUkAG__fromtheblog_items_item:not(:first-of-type) .fromtheblog-module__KRUkAG__blogTitleOverride {
  font-size: 1.6rem;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .fromtheblog-module__KRUkAG__fromtheblog_items_item:first-of-type .fromtheblog-module__KRUkAG__blogTitleOverride {
    font-size: 3rem;
    line-height: 1.13;
  }
}

.fromtheblog-module__KRUkAG__fromtheblog_footer_wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.fromtheblog-module__KRUkAG__fromtheblog_footer_wrapper .fromtheblog-module__KRUkAG__fromtheblog_footer_button {
  appearance: none;
  background: var(--buttonBgColor);
  border: 1px solid var(--buttonTextColor);
  color: var(--buttonTextColor);
  cursor: pointer;
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--button-1);
  text-align: center;
  white-space: nowrap;
  border-radius: 0;
  width: fit-content;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 110%;
  display: block;
}

@media only screen and (min-width: 768px) {
  .fromtheblog-module__KRUkAG__fromtheblog_footer_wrapper .fromtheblog-module__KRUkAG__fromtheblog_footer_button {
    display: none;
  }
}

/* [project]/packages/promo-a/src/css/promoA.module.css [app-client] (css) */
.promoA-module__htKQUq__PromoA .promoA-module__htKQUq__PromoA_media {
  border: 1px solid gray;
  margin-bottom: 20px;
  position: relative;
}

.promoA-module__htKQUq__PromoA_media a {
  display: block;
}

.promoA-module__htKQUq__PromoA_media img {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.promoA-module__htKQUq__PromoA .promoA-module__htKQUq__PromoA_content {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.promoA-module__htKQUq__PromoA_content .promoA-module__htKQUq__PromoA_title {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-4);
  order: 1;
  margin: 0;
  font-weight: 700;
  line-height: 110%;
}

.promoA-module__htKQUq__PromoA_content .promoA-module__htKQUq__PromoA_details {
  color: var(--secondaryTextColor);
  font-family: var(--secondaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--date-1);
  flex-wrap: wrap;
  order: 3;
  margin: 0;
  font-weight: 400;
  line-height: 120%;
  display: flex;
}

.promoA-module__htKQUq__PromoA_details .promoA-module__htKQUq__PromoA_duration:not(:first-child):before {
  content: " | ";
  margin-inline: 6px;
  display: inline-block;
}

.promoA-module__htKQUq__PromoA_content .promoA-module__htKQUq__PromoA_description {
  font-family: var(--bodyFont), Arial, Helvetica, sans-serif;
  font-size: var(--description-2);
  order: 2;
  margin: 0;
  font-weight: 400;
  line-height: 140%;
}

.promoA-module__htKQUq__PromoA_content .promoA-module__htKQUq__PromoA_category {
  color: var(--secondaryTextColor);
  font-family: var(--secondaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-1);
  order: 4;
  margin: 0;
  font-weight: 700;
  line-height: 110%;
}

.promoA-module__htKQUq__PromoA_category .promoA-module__htKQUq__Link {
  color: var(--primaryTextColor);
  text-transform: none;
  background: #e5f2f8;
  border-radius: 5px;
  padding: 3px 7px;
  font-weight: 400;
  display: inline-block;
}

/* [project]/packages/featured-news/src/css/featurednews.module.css [app-client] (css) */
.featurednews-module___dIAMW__top_container {
  border-top: 1px solid #eaeded;
  margin-left: 0;
  margin-right: 0;
  padding: 25px 20px;
  display: block;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  .featurednews-module___dIAMW__top_container {
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px 0;
  }
}

@media only screen and (min-width: 1024px) {
  .featurednews-module___dIAMW__top_container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1340px) {
  .featurednews-module___dIAMW__top_container {
    max-width: var(--contentWidth);
    margin-left: auto;
    margin-right: auto;
  }
}

.featurednews-module___dIAMW__featured_header_wrapper {
  max-width: 800px;
  margin-bottom: 30px;
}

.featurednews-module___dIAMW__featured_header_wrapper .featurednews-module___dIAMW__featured_header {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-2);
  font-weight: 700;
  line-height: 110%;
  display: block;
}

@media only screen and (min-width: 768px) {
  .featurednews-module___dIAMW__featured_header_wrapper .featurednews-module___dIAMW__featured_header {
    margin-right: 30px;
    display: contents;
  }
}

@media only screen and (min-width: 1024px) {
  .featurednews-module___dIAMW__featured_header_wrapper .featurednews-module___dIAMW__featured_header {
    margin-right: 0;
  }
}

.featurednews-module___dIAMW__flickity_cell {
  border-right: none;
  flex-shrink: 0;
  width: 82.5%;
  min-height: 100%;
  padding: 0 20px 0 0;
}

@media only screen and (min-width: 568px) {
  .featurednews-module___dIAMW__flickity_cell {
    width: 42%;
  }
}

@media only screen and (min-width: 1024px) {
  .featurednews-module___dIAMW__flickity_cell {
    --item-width: 33.3333%;
    --item-offset: ((40px * 3 - 40px) / 3);
    width: calc(var(--item-width) - var(--item-offset));
    margin-right: 40px;
  }
}

@media only screen and (min-width: 1340px) {
  .featurednews-module___dIAMW__flickity_cell {
    --item-width: 33.3333%;
    --item-offset: ((40px * 3 - 40px) / 3);
    width: calc(var(--item-width) - var(--item-offset));
    margin-right: 40px;
  }
}

/* [project]/packages/section-publications/src/css/publications.module.css [app-client] (css) */
.publications-module__Duh33G__top_contianer {
  border-top: 1px solid #eaeded;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .publications-module__Duh33G__top_contianer {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    position: relative;
  }
}

@media only screen and (min-width: 1024px) {
  .publications-module__Duh33G__top_contianer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1340px) {
  .publications-module__Duh33G__top_contianer {
    max-width: var(--contentWidth);
    min-width: var(--contentWidth);
    margin-left: auto;
    margin-right: auto;
  }
}

.publications-module__Duh33G__header_wrapper {
  max-width: 800px;
}

@media only screen and (min-width: 768px) {
  .publications-module__Duh33G__header_wrapper {
    min-width: 30%;
    max-width: 30%;
    margin-right: 49px;
  }
}

@media only screen and (min-width: 1024px) {
  .publications-module__Duh33G__header_wrapper {
    min-width: 280px;
    max-width: 280px;
    margin-right: 52px;
  }
}

@media only screen and (min-width: 1440px) {
  .publications-module__Duh33G__header_wrapper {
    min-width: 26.3%;
    max-width: 26.3%;
    margin-right: 100px;
  }
}

.publications-module__Duh33G__header_wrapper .publications-module__Duh33G__header {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-2);
  font-weight: 700;
  line-height: 110%;
  display: block;
}

.publications-module__Duh33G__header_wrapper .publications-module__Duh33G__header_button {
  appearance: none;
  border: 1px solid var(--buttonTextColor);
  color: var(--buttonTextColor);
  cursor: pointer;
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--button-1);
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  background: #fff;
  border-radius: 0;
  margin-top: 20px;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 110%;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .publications-module__Duh33G__header_wrapper .publications-module__Duh33G__header_button {
    margin: 20px 0 0;
  }
}

.publications-module__Duh33G__body a:hover {
  color: var(--secondaryColor);
}

@media only screen and (min-width: 768px) {
  .publications-module__Duh33G__body {
    width: 70%;
  }
}

.publications-module__Duh33G__body .publications-module__Duh33G__body_items {
  margin: 0;
  padding: 30px 0 0;
  list-style: none;
}

@media only screen and (min-width: 768px) {
  .publications-module__Duh33G__body .publications-module__Duh33G__body_items {
    padding: 0;
  }
}

.publications-module__Duh33G__body .publications-module__Duh33G__body_items_item {
  margin: 0;
  padding: 0;
}

.publications-module__Duh33G__body .publications-module__Duh33G__body_items_item:nth-child(n+2) {
  border-top: 1px solid #aab7b8;
  margin-top: 30px;
  padding-top: 30px;
}

.publications-module__Duh33G__PromoF .publications-module__Duh33G__PromoF_title {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-4);
  font-weight: 700;
  line-height: 110%;
}

.publications-module__Duh33G__PromoF a {
  color: inherit;
}

.publications-module__Duh33G__PromoF .publications-module__Duh33G__PromoF_details {
  color: var(--secondaryTextColor);
  font-family: var(--secondaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--date-1);
  margin-top: 10px;
  font-weight: 400;
  line-height: 120%;
}

@media only screen and (min-width: 768px) {
  .publications-module__Duh33G__PromoF_details > * {
    display: inline;
  }

  .publications-module__Duh33G__PromoF_details > :not(:last-child):after {
    content: " | ";
    margin-left: 4px;
    margin-right: 4px;
  }
}

.publications-module__Duh33G__PromoF_details .publications-module__Duh33G__PromoF_authors {
  white-space: normal;
}

.publications-module__Duh33G__PromoF_authors a {
  white-space: nowrap;
}

.publications-module__Duh33G__PromoF_details .publications-module__Duh33G__PromoF_journal {
  white-space: normal;
}

.publications-module__Duh33G__PromoF .publications-module__Duh33G__PromoF_content {
  margin-top: 10px;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .publications-module__Duh33G__PromoF_content .publications-module__Duh33G__PromoF_body {
    flex-grow: 1;
  }
}

.publications-module__Duh33G__PromoF_body .publications-module__Duh33G__PromoF_description {
  font-family: var(--bodyFont), Arial, Helvetica, sans-serif;
  font-size: var(--description-2);
  font-weight: 400;
  line-height: 140%;
}

.publications-module__Duh33G__PromoF_description a {
  color: var(--primaryColor);
  text-decoration: none !important;
}

.publications-module__Duh33G__PromoF_body .publications-module__Duh33G__PromoF_category {
  color: var(--secondaryTextColor);
  font-family: var(--secondaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-1);
  margin-top: 10px;
  font-weight: 700;
  line-height: 110%;
}

.publications-module__Duh33G__PromoF_category .publications-module__Duh33G__Link {
  text-transform: none;
  background: #e5f2f8;
  border-radius: 5px;
  padding: 3px 7px;
  font-weight: 400;
  display: inline-block;
  color: var(--primaryTextColor) !important;
}

.publications-module__Duh33G__body .publications-module__Duh33G__nextPage {
  margin-top: 30px;
}

.publications-module__Duh33G__nextPage a {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--button-1);
  overflow-anchor: none;
  text-align: center;
  width: 100%;
  color: var(--primaryColor);
  border: 1px solid #aab7b8;
  border-width: 1px 0;
  padding: 10px;
  font-weight: 700;
  line-height: 2;
  text-decoration: none;
  display: block;
}

/* [project]/packages/footer-type-a/src/css/footerA.module.css [app-client] (css) */
footer {
  background-color: var(--footerBgColor);
  color: var(--footerTextColor);
  display: block;
}

.footerA-module__U_UGfq__footer_body {
  flex-direction: column;
  padding: 40px 20px 30px;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .footerA-module__U_UGfq__footer_body {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .footerA-module__U_UGfq__footer_body, .footerA-module__U_UGfq__footer_bottom {
    max-width: calc(var(--contentWidth) + 80px);
    margin: 0 auto;
  }
}

.footerA-module__U_UGfq__footer_body .footerA-module__U_UGfq__footer_logo {
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .footerA-module__U_UGfq__footer_body .footerA-module__U_UGfq__footer_logo {
    width: 50%;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .footerA-module__U_UGfq__footer_body .footerA-module__U_UGfq__footer_logo {
    width: auto;
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.footerA-module__U_UGfq__footer_logo img {
  width: 171px;
  height: 28px;
  display: inline-block;
}

.footerA-module__U_UGfq__footer_body .footerA-module__U_UGfq__footer_columns {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .footerA-module__U_UGfq__footer_body .footerA-module__U_UGfq__footer_columns {
    justify-content: space-between;
    width: 100%;
    display: flex;
  }
}

.footerA-module__U_UGfq__FooterNavigation {
  column-count: 2;
  column-gap: 40px;
}

.footerA-module__U_UGfq__FooterNavigation_items_item .footerA-module__U_UGfq__NavigationItem {
  margin-bottom: 5px;
  padding: 0;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .footerA-module__U_UGfq__FooterNavigation_items_item .footerA-module__U_UGfq__NavigationItem {
    padding-inline: 10px;
  }
}

.footerA-module__U_UGfq__FooterNavigation_items_item .footerA-module__U_UGfq__NavigationItem_text {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-3);
  color: inherit;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  line-height: 100%;
  display: flex;
}

.footerA-module__U_UGfq__FooterNavigation_items_item .footerA-module__U_UGfq__NavigationItem_text a {
  word-break: keep-all;
  width: 100%;
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-3);
  color: inherit;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 100%;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .footerA-module__U_UGfq__footer_column:last-of-type {
    margin-left: 30px;
  }
}

.footerA-module__U_UGfq__footer_content {
  text-align: left;
  max-width: 290px;
  padding-top: 30px;
}

@media only screen and (min-width: 568px) {
  .footerA-module__U_UGfq__footer_content {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .footerA-module__U_UGfq__footer_content {
    padding-top: 0;
  }
}

.footerA-module__U_UGfq__PromoNewsletter_content {
  display: flex;
}

.footerA-module__U_UGfq__PromoNewsletter_media {
  flex: 1 0 auto;
  max-width: 90px;
  padding: 10px 20px 10px 0;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .footerA-module__U_UGfq__PromoNewsletter_media {
    max-width: 85px;
  }
}

.footerA-module__U_UGfq__PromoNewsletter_media img {
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.footerA-module__U_UGfq__footer_content .footerA-module__U_UGfq__PromoNewsletter_body {
  flex: 1;
  margin-left: 10px;
}

footer .footerA-module__U_UGfq__PromoNewsletter_title {
  max-width: 230px;
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-4);
  font-weight: 700;
  line-height: 110%;
}

@media only screen and (min-width: 568px) {
  footer .footerA-module__U_UGfq__PromoNewsletter_title {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  footer .footerA-module__U_UGfq__PromoNewsletter_title {
    max-width: 200px;
  }
}

.footerA-module__U_UGfq__PromoNewsletter_title a {
  color: inherit;
}

.footerA-module__U_UGfq__PromoNewsletter_description {
  font-family: var(--bodyFont), Arial, Helvetica, sans-serif;
  font-size: var(--description-2);
  margin-top: 5px;
  font-weight: 400;
  line-height: 140%;
}

.footerA-module__U_UGfq__footer_bottom_content {
  border-top: 1px solid #6d787880;
  flex-direction: column;
  align-items: center;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .footerA-module__U_UGfq__footer_bottom_content {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footerA-module__U_UGfq__footer_disclaimer {
  text-align: center;
  border-top: 1px solid #6d787880;
  order: 1;
  width: 100%;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.67;
}

@media only screen and (min-width: 768px) {
  .footerA-module__U_UGfq__footer_disclaimer {
    text-align: left;
    border-top: 0;
    order: 0;
    padding: 30px 40px;
  }
}

.footerA-module__U_UGfq__footer_disclaimer p {
  unicode-bidi: isolate;
  margin-block: 1em;
  margin-inline: 0;
  display: block;
}

.footerA-module__U_UGfq__footer_disclaimer a {
  color: inherit;
}

.footerA-module__U_UGfq__footer_social {
  order: 0;
  padding: 10px 10px 0;
}

@media only screen and (min-width: 768px) {
  .footerA-module__U_UGfq__footer_social {
    padding: 30px 40px;
  }
}

footer .footerA-module__U_UGfq__SocialBar_heading {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-4);
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 100%;
  display: none;
}

.footerA-module__U_UGfq__SocialBar_items {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

@media only screen and (min-width: 375px) {
  .footerA-module__U_UGfq__SocialBar_items {
    flex-wrap: unset;
  }
}

.footerA-module__U_UGfq__SocialBar_items_item {
  flex-shrink: 0;
  margin: 0 10px 10px 0;
}

.footerA-module__U_UGfq__SocialLink {
  background-color: var(--primaryColor);
  color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
}

.footerA-module__U_UGfq__SocialLink svg {
  fill: #fff;
  width: 18px;
  height: 18px;
}

.footerA-module__U_UGfq__sr_only {
  clip: rect(0, 0, 0, 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

/*# sourceMappingURL=_0htgk7o._.css.map*/