/* [project]/packages/hero-slide/src/css/heroslide_typeA.module.css [app-client] (css) */
.heroslide_typeA-module__60Hyyq__hero_container {
  --primaryTextColor: #fff;
  color: var(--primaryTextColor);
  aspect-ratio: 16 / 9;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .heroslide_typeA-module__60Hyyq__hero_container {
    aspect-ratio: auto;
    height: 100dvh;
  }
}

@media screen and (max-width: 576px) {
  .heroslide_typeA-module__60Hyyq__hero_container {
    aspect-ratio: 9 / 16;
    height: auto;
  }
}

.heroslide_typeA-module__60Hyyq__hero_layer1 {
  z-index: 0;
  background-image: linear-gradient(to top right, #41597a, #8951a9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.heroslide_typeA-module__60Hyyq__hero_layer1 .heroslide_typeA-module__60Hyyq__bg_image {
  border-radius: 2rem;
  width: 50em;
  position: absolute;
  top: 6rem;
  right: 6rem;
}

.heroslide_typeA-module__60Hyyq__hero_layer2 {
  z-index: 10;
  background-color: #0000001a;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.heroslide_typeA-module__60Hyyq__hero_layer2_content_wrapper {
  max-width: calc(var(--contentWidth) + 100px);
  margin-inline: 50px;
}

@media only screen and (min-width: 1340px) {
  .heroslide_typeA-module__60Hyyq__hero_layer2_content_wrapper {
    width: 100%;
    max-width: var(--contentWidth);
    margin-left: auto;
    margin-right: auto;
  }
}

.heroslide_typeA-module__60Hyyq__hero_layer2 .heroslide_typeA-module__60Hyyq__description_area {
  justify-content: flex-start;
  width: 100%;
  display: flex;
}

.heroslide_typeA-module__60Hyyq__description_area .heroslide_typeA-module__60Hyyq__description_content_area {
  max-width: 700px;
  margin-bottom: 4em;
}

.heroslide_typeA-module__60Hyyq__description_content_area .heroslide_typeA-module__60Hyyq__description_content {
  flex-direction: column;
  gap: 1em;
  display: flex;
}

.heroslide_typeA-module__60Hyyq__description_content .heroslide_typeA-module__60Hyyq__title {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-1);
  font-weight: 700;
  line-height: 110%;
}

.heroslide_typeA-module__60Hyyq__description_content .heroslide_typeA-module__60Hyyq__details {
  font-family: var(--bodyFont), Arial, Helvetica, sans-serif;
  font-size: var(--description-1);
  font-weight: 400;
  line-height: 140%;
}

.heroslide_typeA-module__60Hyyq__description_content .heroslide_typeA-module__60Hyyq__readmore {
  background: var(--buttonTextColor);
  border: 1px solid var(--buttonTextColor);
  color: #fff;
  cursor: pointer;
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--button-1);
  text-align: center;
  white-space: nowrap;
  border-radius: 0;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 110%;
}

.heroslide_typeA-module__60Hyyq__hero_layer2 .heroslide_typeA-module__60Hyyq__navigation_area {
  width: 100%;
  margin-bottom: 3em;
}

.heroslide_typeA-module__60Hyyq__navigation_area .heroslide_typeA-module__60Hyyq__navigation_flex_box {
  gap: 10px;
  display: flex;
}

.heroslide_typeA-module__60Hyyq__navigation_flex_box .heroslide_typeA-module__60Hyyq__navigation_item_box {
  flex: 1;
  min-width: 0;
}

.heroslide_typeA-module__60Hyyq__navigation_slider {
  background-color: #f2f2f280;
  width: 100%;
  height: 5px;
  position: relative;
  overflow: hidden;
}

.heroslide_typeA-module__60Hyyq__progress_bar {
  background-color: #fff;
  width: 0%;
  height: 100%;
}

.heroslide_typeA-module__60Hyyq__navigation_title {
  margin-top: 10px;
  font-size: 1.4rem;
  line-height: 1.2;
}

@media screen and (max-width: 1023px) {
  .heroslide_typeA-module__60Hyyq__navigation_title {
    display: none;
  }
}

.heroslide_typeA-module__60Hyyq__play_pause {
  color: #fff;
  cursor: pointer;
  background: #0006;
  border: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 30px;
  display: grid;
}

.heroslide_typeA-module__60Hyyq__play_pause svg {
  fill: currentColor;
  grid-area: 1 / 1;
  width: 16px;
  height: 16px;
}

/*# sourceMappingURL=packages_hero-slide_src_css_heroslide_typeA_module_css_0w3-wzy._.single.css.map*/