/* [project]/packages/custom-carousel/src/css/customCarousel.module.css [app-client] (css) */
.customCarousel-module__mK8U3q__carousel_slider {
  margin-right: -20px;
  padding-bottom: 40px;
  position: relative;
}

.customCarousel-module__mK8U3q__carousel_slider .customCarousel-module__mK8U3q__flickity_viewport {
  cursor: grab;
  touch-action: pan-y;
  position: relative;
  overflow: hidden;
}

.customCarousel-module__mK8U3q__flickity_viewport .customCarousel-module__mK8U3q__flickity_slider {
  width: 100%;
  height: 100%;
  display: flex;
}

.customCarousel-module__mK8U3q__flickity_button {
  color: #333;
  border: none;
  position: absolute;
}

.customCarousel-module__mK8U3q__flickity_button:hover {
  cursor: pointer;
}

.customCarousel-module__mK8U3q__flickity_button:disabled {
  cursor: auto;
  pointer-events: none;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button {
  opacity: .5;
  z-index: 1;
  background: #fff;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 100px;
  line-height: 0;
  transition: opacity .3s ease-out;
  top: 50%;
  transform: translateY(calc(-50% - 20px));
  box-shadow: -1px 0 4px #0000001a;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button:hover {
  opacity: 1;
  background: #fff;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button:disabled {
  visibility: hidden;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button.customCarousel-module__mK8U3q__previous {
  border-radius: 0 4px 4px 0;
  left: 0;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button.customCarousel-module__mK8U3q__next {
  border-radius: 4px 0 0 4px;
  right: 0;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button .customCarousel-module__mK8U3q__flickity_button_icon {
  fill: #555;
  stroke: #555;
  width: 20px;
  height: 20px;
  position: relative;
  top: auto;
  overflow: visible;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button.customCarousel-module__mK8U3q__previous .customCarousel-module__mK8U3q__flickity_button_icon {
  top: auto;
  left: -2px;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button.customCarousel-module__mK8U3q__next .customCarousel-module__mK8U3q__flickity_button_icon {
  left: -2px;
}

.customCarousel-module__mK8U3q__flickity_prev_next_button.customCarousel-module__mK8U3q__previous .customCarousel-module__mK8U3q__flickity_button_icon path {
  transform: rotate(180deg)scale(6)translate(-12px, -15px);
}

.customCarousel-module__mK8U3q__flickity_prev_next_button.customCarousel-module__mK8U3q__next .customCarousel-module__mK8U3q__flickity_button_icon path {
  transform: scale(6)translate(5px, 1px);
}

.customCarousel-module__mK8U3q__flickity_page_dots {
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 767px) {
  .customCarousel-module__mK8U3q__flickity_page_dots {
    justify-content: flex-start;
  }
}

.customCarousel-module__mK8U3q__flickity_page_dots .customCarousel-module__mK8U3q__flickity_page_dot {
  box-shadow: none;
  opacity: 1;
  cursor: pointer;
  margin-inline: 5px;
  text-indent: -9999px;
  background: #fff;
  border: 1px solid #555;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  padding: 0;
  display: block;
  overflow: hidden;
}

.customCarousel-module__mK8U3q__flickity_page_dots .customCarousel-module__mK8U3q__flickity_page_dot.customCarousel-module__mK8U3q__is_selected {
  background: #555;
}

/*# sourceMappingURL=packages_custom-carousel_src_css_customCarousel_module_css_0w3-wzy._.single.css.map*/