img {
  display: block;
  height: auto;
  max-width: 100%;
}

.HedingLeadC {
  position: relative;
}

.HeadingLeadC_body {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #aab7b8;
}

@media only screen and (min-width: 768px) {
  .HeadingLeadC_body {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 80px;
    padding-top: 80px;
  }
}

@media only screen and (min-width: 1024px) {
  .HeadingLeadC_body {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}

@media only screen and (min-width: 1340px) {
  .HeadingLeadC_body {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--contentWidth);
  }
}

.HeadingLeadC_meida {
  position: relative;
}

@media only screen and (min-width: 786px) {
  .HeadingLeadC_meida {
    margin-left: 70px;
    margin-right: -14px;
    top: 50px;
    order: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .HeadingLeadC_meida {
    margin-left: 90px;
    margin-right: 8px;
  }
}

@media only screen and (min-width: 1340px) {
  .HeadingLeadC_meida {
    margin-left: 160px;
    margin-right: -8px;
  }
}

.HeadingLeadC_meida::before {
  position: absolute;
  content: "";
  width: 228px;
  height: 200px;
  right: -4px;
  top: -36px;
  z-index: -1;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTAiIGhlaWdodD0iNDQyIiB2aWV3Qm94PSIwIDAgNTEwIDQ0MiI+CiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwYXRoIHN0cm9rZT0iI0FBQjdCOCIgZD0iTTI1NS41IDExMWgxMjdMNDQ2IDIyMWwtNjMuNSAxMTBoLTEyN0wxOTIgMjIxeiIvPgogICAgICAgIDxwYXRoIHN0cm9rZT0iI0Q1REJEQiIgZD0iTTE5NS41IDExMWgxMjdMMzg2IDIyMWwtNjMuNSAxMTBoLTEyN0wxMzIgMjIxeiIvPgogICAgICAgIDxwYXRoIHN0cm9rZT0iI0Q1REJEQiIgZD0iTTY0LjUgMWgxMjdMMjU1IDExMWwtNjMuNSAxMTBoLTEyN0wxIDExMXoiIG9wYWNpdHk9Ii42Ii8+CiAgICAgICAgPHBhdGggc3Ryb2tlPSIjQUFCN0I4IiBkPSJNMTk0LjUgMWgxMjdMMzg1IDExMWwtNjMuNSAxMTBoLTEyN0wxMzEgMTExeiIgb3BhY2l0eT0iLjYwMyIvPgogICAgICAgIDxwYXRoIHN0cm9rZT0iI0Q1REJEQiIgZD0iTTE5MS41IDIyMWgxMjdMMzgyIDMzMWwtNjMuNSAxMTBoLTEyN0wxMjggMzMxeiIvPgogICAgICAgIDxwYXRoIHN0cm9rZT0iI0FBQjdCOCIgZD0iTTMxOC41IDMxaDEyN0w1MDkgMTQxbC02My41IDExMGgtMTI3TDI1NSAxNDF6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 768px) {
  .HeadingLeadC_meida::before {
    width: 358px;
    height: 315px;
    right: -6px;
    top: -56px;
  }
}

@media only screen and (min-width: 1024px) {
  .HeadingLeadC_meida::before {
    width: 450px;
    height: 396px;
    top: -70px;
    right: -8px;
  }
}

@media only screen and (min-width: 1340px) {
  .HeadingLeadC_meida::before {
    width: 508px;
    height: 440px;
    right: -9px;
    top: -78px;
  }
}

.HeadingLeadC_meida img {
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  width: 146px;
}

@media only screen and (min-width: 768px) {
  .HeadingLeadC_meida img {
    width: 230px;
    min-width: 230px;
  }
}

@media only screen and (min-width: 1024px) {
  .HeadingLeadC_meida img {
    width: 289px;
    min-width: 289px;
  }
}

@media only screen and (min-width: 1340px) {
  .HeadingLeadC_meida img {
    width: 326px;
    min-width: 326px;
  }
}

.HeadingLeadC_meida::after {
  content: "";
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: absolute;
  left: -1px;
  top: -1px;
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  background: #aab7b8;
  z-index: -1;
}

.HeadingLeadC_text {}

@media only screen and (min-width: 768px) {
  .HeadingLeadC_text {
    flex-grow: 1;
  }
}

.HeadingLeadC_category {
  margin-bottom: 20px;
  line-height: 110%;
  font-size: 1.5rem;
  font-family: var(--secondaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-1);
  font-weight: 700;
  color: var(--secondaryTextColor);
}

@media only screen and (min-width: 1024px) {
  .HeadingLeadC_category {
    margin-bottom: 30px;
  }
}

.HeadingLeadC_title {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-1);
  font-weight: 700;
  line-height: 110%;
}

.HeadingLeadC_description {
  margin-top: 20px;
  font-family: var(--bodyFont), Arial, Helvetica, sans-serif;
  font-size: var(--description-1);
  font-weight: 400;
  line-height: 140%;
}

@media only screen and (min-width: 1024px) {
  .HeadingLeadC_description {
    margin-top: 30px;
  }
}