.PromoF {}

.PromoF_title {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-4);
  font-weight: 700;
  line-height: 110%;
}

.PromoF_details {
  margin-top: 10px;
  color: var(--secondaryTextColor);
  font-family: var(--secondaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--date-1);
  font-weight: 400;
  line-height: 120%;
}

@media only screen and (min-width: 768px) {
  .PromoF_details>* {
    display: inline;
  }

  .PromoF_details>::after {
    content: " | ";
    margin-left: 4px;
    margin-right: 4px;
  }
}

.PromoF_authors {
  white-space: normal;
}

.PromoF .PromoF_authors a {
  white-space: nowrap;
}

.PromoF_content {
  display: flex;
  margin-top: 10px;
}

.PromoF_media {
  position: relative;
  max-width: 92px;
  min-width: 92px;
  margin-top: 20px;
  margin-right: 5px;
}

@media only screen and (min-width: 1340px) {
  .PromoF_media {
    max-width: 244px;
    min-width: 244px;
  }
}

@media only screen and (min-width: 1024px) {
  .PromoF_media {
    max-width: 180px;
    min-width: 180px;
  }
}

@media only screen and (min-width: 768px) {
  .PromoF_media {
    max-width: 150px;
    min-width: 150px;
  }
}

.PromoF_media a {
  display: block;
}

@media only screen and (min-width: 768px) {
  .PromoF_body {
    flex-grow: 1;
  }
}

.PromoF_description {
  font-family: var(--bodyFont), Arial, Helvetica, sans-serif;
  font-size: var(--description-2);
  font-weight: 400;
  line-height: 140%;
}

.PromoF_category {
  margin-top: 10px;
  color: var(--secondaryTextColor);
  font-family: var(--secondaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-1);
  font-weight: 700;
  line-height: 110%;
}

.PromoF_category .Link {
  display: inline-block;
  padding: 3px 7px;
  background: #e5f2f8;
  border-radius: 5px;
  color: var(--primaryTextColor);
  font-weight: 400;
  text-transform: none;
}