.SearchLandingPage_main {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (min-width: 768px) {
  .SearchLandingPage_main {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .SearchLandingPage_main {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1340px) {
  .SearchLandingPage_main {
    max-width: var(--contentWidht);
    margin-left: auto;
    margin-right: auto;
  }
}

.SearchResultsModule {
  display: block;
}

.SearchResultsModule_form {
  width: 100%;
}

.SearchResultsModule_ajax {}

.SearchResultsModule_filters {}

.SearchResultsModule_wrapper {}

@media only screen and (min-width: 768px) {
  .SearchResultsModule_wrapper {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .SearchResultsModule_main {
    flex-grow: 1;
  }
}

.SearchResultsModule_results_header_wrapper {
  padding: 22px 0;
  border-bottom: 1px solid #aab7b8;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .SearchResultsModule_results_header {
    height: 39px;
    display: flex;
    justify-content: flex-end;
  }
}

.SearchResultsModule_count {
  flex-grow: 1;
  align-self: center;
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-6);
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}

.SearchResultsModule_sorts {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--label-4);
  font-weight: 700;
  line-height: 100%;
}

.SearchResultsModule_sorts .Select {
  display: inline-block;
}

.Select label {
  display: flex;
  align-items: center;
}

.Select label span {
  margin-right: 15px;
  white-space: nowrap;
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-6);
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}

.Select select {
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 15px;
  padding-right: 36px;
  background: var(--buttonBgColor);
  border: 1px solid var(--buttonTextColor);
  border-radius: 0;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiPgo8cGF0aCBmaWxsPSIjMDA3Y2I2IiBkPSJNOS44LDAuMmMtMC4zLTAuMy0wLjctMC4zLTEsMEw1LDMuOUwxLjMsMC4yYy0wLjMtMC4zLTAuNy0wLjMtMSwwQzAsMC41LDAsMSwwLjIsMS4ybDQuNiw0LjZMNSw2bDAuMS0wLjEKICAgIGw0LjYtNC42QzEwLDEsMTAsMC41LDkuOCwwLjJ6Ii8+Cjwvc3ZnPgo=) no-repeat right 15px top 17px;
  color: var(--buttonTextColor);
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--button-1);
  font-weight: 700;
  line-height: 110%;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.SearchResultsModule_results {
  list-style: none;
}

.SearchResultsModule_results_item {
  border-bottom: 1px solid #aab7b8;
  padding: 30px 0;
}

.SearchResultsModule_results_item:first-child {
  padding-top: 0;
}

.SearchResultsModule_pagination {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.SearchResultsModule_previousPage {
  margin-right: 10px;
}

.SearchResultsModule_previousPage span {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid var(--primaryColor);
  border-radius: 50%;
  border-color: #d5dbdb;
  font-size: 12px;
  letter-spacing: -.25px;
  line-height: 1.83;
  text-align: center;
  cursor: default;
}

@media only screen and (min-width: 768px) {
  .SearchResultsModule_previousPage span {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

.SearchResultsModule_previousPage span svg {
  width: 9px;
  height: 14px;
  fill: #d5dbdb;
  transform: translate(-2px) rotate(180deg);
}

.SearchPagination_previousPage {
  margin: 0 10px 0 0;
}

.SearchPagination_previousPage a {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid var(--primaryColor);
  border-radius: 50%;
  font-size: 12px;
  letter-spacing: -.25px;
  line-height: 1.83;
  text-align: center;
  cursor: pointer;
}

.SearchPagination_previousPage.currentPage a {
  border-color: var(--secondaryColor);
}

@media only screen and (min-width: 768px) {
  .SearchPagination_previousPage a {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
}

.SearchPagination_nextPage {
  margin: 0 10px 0 0;
}

.SearchPagination_nextPage a {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid var(--primaryColor);
  border-radius: 50%;
  font-size: 12px;
  letter-spacing: -.25px;
  line-height: 1.83;
  text-align: center;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .SearchPagination_nextPage a {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
}

.SearchPagination_separator {
  margin: 0 10px 10px 0;
}

.SearchResultsModule_nextPage a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid var(--primaryColor);
  border-radius: 50%;
  font-size: 12px;
  letter-spacing: -.25px;
  line-height: 1.83;
  text-align: center;
  cursor: pointer;
}

@media only screen and (min-width: 786px) {
  .SearchResultsModule_nextPage a {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

.SearchResultsModule_nextPage a svg {
  fill: var(--primaryColor);
}

.SearchResultsModule_nextPage svg {
  width: 9px;
  height: 14px;
  transform: translate(2px);
}

.SearchResultsModule_nextPage a span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
  overflow: hidden;
}